ServJava-CientC#/ProyectoCliente/Controlador/Connected Services/empleadoDA/empleadoWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://servicio/" targetNamespace="http://servicio/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="listarEmpleados" type="tns:listarEmpleados" />
  <xs:element name="listarEmpleadosResponse" type="tns:listarEmpleadosResponse" />
  <xs:complexType name="listarEmpleados">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEmpleadosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="empleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="apellido" type="xs:string" />
      <xs:element name="edad" type="xs:int" />
      <xs:element name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>